<div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <h1>Create Plan</h1>
    <h3>Create Template</h3>
    <div>
        <input type="text" id="template-input" placeholder="Enter Template">
        <button onclick="createTemplate()">Create</button>
    </div>

    <h3>Select Template</h3>
    <div>
        <select id="template-select">
            <option value="">Select a Template</option>
            {{range .Templates}}
            <option value="{{.ID}}">{{.Subject}}</option>
            {{end}}
        </select>
        <button onclick="selectTemplate()">Select</button>
    </div>
    <div id="template-action-buttons" style="display: none;">
        <div id="selected-template"></div>
        <button onclick="useTemplate()">Use</button>
        <button onclick="editTemplate()" id="edit-template-btn">Edit</button>
    </div>

    <div id="plan-section" style="display: none;">
        <h3>Plan</h3>
        <input type="text" id="plan-title" placeholder="Enter Plan Title">
        <input type="datetime-local" id="scheduled-at" placeholder="Enter Scheduled At">
        <div id="recipients"></div>
        <button onclick="saveData()">Save</button>
        <button onclick="addRow()">Add Row</button>
    </div>
    <div id="sheet-link" style="display: none;"></div>
    <div id="plan-action-buttons" style="display: none;">
        <button onclick="createPlan()">Create Plan</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script>
    let selectedTemplateId = null;
    let selectedRecipientId = null;
    let hot = null;

    function createTemplate() {
        const templateInput = document.getElementById("template-input");
        fetch('/v1/plans/templates', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                subject: templateInput.value,
            }),
        })
            .then(response => response.json())
            .then(data => {
                const templateSelect = document.getElementById("template-select");
                const newOption = document.createElement("option");
                newOption.value = data.id;
                newOption.text = templateInput.value;
                templateSelect.appendChild(newOption);
                templateInput.value = "";
            })
            .catch(error => console.error('Error:', error));
    }

    function selectTemplate() {
        const templateSelect = document.getElementById("template-select");
        selectedTemplateId = templateSelect.value;
        const selectedText = templateSelect.options[templateSelect.selectedIndex].text;

        if (selectedTemplateId) {
            document.getElementById("selected-template").innerText = `Selected Template: ${selectedText}`;
            document.getElementById("template-action-buttons").style.display = "block";
        } else {
            alert("Please select a template!");
        }
    }

    function editTemplate() {
        if (selectedTemplateId) {
            window.open(`${window.location.origin}/plans/templates/${selectedTemplateId}`, '_blank');
        } else {
            alert("No template selected.");
        }
    }

    function useTemplate() {
        if (document.getElementById("plan-section").style.display === "none") {
            document.getElementById("plan-section").style.display = "block";
            setDefaultData();
            document.getElementById("edit-template-btn").style.display = "none";
        }
    }

    function createPlan() {
        const planTitle = document.getElementById("plan-title").value;
        let scheduledAt = document.getElementById("scheduled-at").value;
        if (!scheduledAt) {
            scheduledAt = null;
        }
        if (selectedTemplateId && selectedRecipientId) {
            fetch('/v1/plans', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    title: planTitle,
                    template_id: parseInt(selectedTemplateId),
                    recipient_id: parseInt(selectedRecipientId),
                    scheduled_at: scheduledAt,
                }),
            })
                .then(response => response.json())
                .then(data => {
                alert("Plan created successfully!");
                window.location.href = `/plans/${data.id}`;
            })
                .catch(error => console.error('Error:', error));
        } else {
            alert("Please select a template and recipient!");
        }
    }

    function setDefaultData() {
        // /v1/plans/templates/{templateId}/recipients/ 로 데이터 조회
        if (selectedTemplateId) {
            fetch(`${window.location.origin}/v1/plans/templates/${selectedTemplateId}/recipients`)
                .then(response => response.json())
            .then(data => {
                // 최대 열 수 계산
                const maxCols = data.data[0].length;

                // Handsontable 초기화
                const container = document.getElementById('recipients');
                hot = new Handsontable(container, {
                data: data.data,
                rowHeaders: true,
                colHeaders: true,
                contextMenu: true,
                licenseKey: 'non-commercial-and-evaluation',
                fixedRowsTop: 1,
                maxCols: maxCols,
                cells: function(row, col) {
                    if (row === 0) {
                    return {
                        readOnly: true
                    };
                    }
                }
                });
            });
        }
    }

    // 저장 함수 추가
    function saveData() {
      const data = hot.getData();
      fetch(`/v1/plans/templates/${selectedTemplateId}/recipients`, {
        method: 'POST',
        body: JSON.stringify({
          data: JSON.stringify(data)
        })
      }).then(res => res.json()).then(data => {
        selectedRecipientId = data.id;
        document.getElementById("plan-action-buttons").style.display = "block";
      });
    }

    // 키보드 이벤트 리스너 추가
    document.addEventListener('keydown', function(e) {
      if (e.key === 's' && (e.ctrlKey || e.metaKey)) {
        e.preventDefault(); // 브라우저 기본 저장 동작 방지
        saveData();
      }
    });

    // 행 추가 함수
    function addRow() {
        hot.alter('insert_row_below', hot.countRows() - 1);
    }
  </script>